*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* main style */
.logo h2{
    font-size: 45px;
}      
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color:#FD6E0A ;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading {
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
header{
    background-color: #fFF8F3;
    background: url(images/developer.png),url(images/header_bg.png),#fFF8F3;
    background-repeat: no-repeat;
    padding-top: 50;
    background-position: top left, bottom right;
}
nav{
    width: 100%;
    max-width: 1172px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .manu a{
    font-size: 20px;
    color: #474747;
}
#banner .banner-content{
    max-width: 585px;
}
#banner{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p{
    color: #474747;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner.banner-image img{
    max-width: 585px;
    vertical-align: auto;
}
#about{
    padding-top: 130px;
    margin: 0 auto;
    max-width: 1140px;
    background-color: #fFF8F3;
    padding: 131px 156px;

    
}


.about-info{
    display: flex;
    justify-content: space-between;
}
.about-info .info-card{
     font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #474747;
}
.about-info .info-card h4{
    font-size: 20px;
}


